package service

import (
    {{range .Services}}
	{{.Ast.Table.Name | ToLower}}Handler "{{.ProjectName | ToSnakeCase | ToLowerFirst}}/{{.Ast.Table.Name | ToSnakeCase | ToLowerFirst}}/handler"
	{{.Ast.Table.Name | ToLower}}Service "{{.ProjectName | ToSnakeCase | ToLowerFirst}}/{{.Ast.Table.Name | ToSnakeCase | ToLowerFirst}}/service"
    {{end}}
	"github.com/labstack/echo/v4"
	"gorm.io/gorm"
)

func NewService(routerGroup *echo.Group, db *gorm.DB) {
    {{range .Services}}
	{{.Ast.Table.Name | ToLower}}Handler.NewHandler(routerGroup, {{.Ast.Table.Name | ToLower}}Service.NewService(db))
    {{end}}
}
